{% extends 'base.html.twig' %}

{% block body %}
    <p>Hello, and welcome to chirp.ly. The premier site for people who only want to post 140 characters at a time, and not the vile number "280".</p>
    <p><a id="post-chirp" href="{{ path('chirp_new') }}">Post Chirp</a></p>
{% endblock %}

